name: Release package
on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release type (one of): patch, minor, major, prepatch, preminor, premajor, prerelease'
        required: true
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check release type
        if: startsWith(github.event.inputs.release-type, 'pre') != true
        run: |
          echo "RELEASE_TYPE = $RELEASE_TYPE" 
        env:
          RELEASE_TYPE: ${{ github.event.inputs.release-type }}

      
