name: Test codebase
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # Checkout project repository
      - name: Checkout
        uses: actions/checkout@v3

      # Setup Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      #   Install dependencies (required by Run tests step)
      - name: Install dependencies
        run: npm install

      # Tests
      - name: Run tests
        run: npm test
